<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Space+Mono:wght@700&display=swap" rel="stylesheet">
  <title>My Food Tracker</title>
</head>

<body>
  <main>
    {{{body}}}
  </main>
  {{!-- {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}} --}}
</body>

</html>