<div class="row justify-space-between-md">
  <div class="brkfst-card">
      <div class="form-group">
        <label for="brkfst-food" id="">Name of Food:</label>
        <input class="form-input" type="text" id="brk-foodName" />
      </div>
      <div class="form-group">
        <label for="password-login" id="">Total Calories:</label>
        <input class="form-input" type="text" id="brk-cals" />
      </div>
      <div class="form-group">
        <label for="password-login" id="">Carbs:</label>
        <input class="form-input" type="text" id="brk-carbs" />
      </div>
      <div class="form-group">
        <label for="password-login" id="">Fats:</label>
        <input class="form-input" type="text" id="brk-fats" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="addBrkFoodBtn">Add Food</button>
      </div>
  </div>

<script src="/js/brkfstFood.js"></script>