<link rel="stylesheet" href="/css/foodInput.css">


<div class="wrapper">
  <div class="row justify-space-between-md">
  <div class="card">
    <div id="back">
      <img src="/images/arrow-left.png" alt="back-arrow">
       <a id="link" href="/tracker">Back to tracker</a>
    </div>
   
      <div class="form-group">
        <label for="dinner-food" id="">Name of Food:</label>
        <input class="form-input" type="text" id="dinner-foodName" />
      </div>
      <div class="form-group">
        <label for="dinner-cals" id="">Total Calories:</label>
        <input class="form-input" type="text" id="dinner-cals" />
      </div>
      <div class="form-group">
        <label for="dinner-carbs" id="">Carbs:</label>
        <input class="form-input" type="text" id="dinner-carbs" />
      </div>
      <div class="form-group">
        <label for="dinner-fats" id="">Fats:</label>
        <input class="form-input" type="text" id="dinner-fats" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="addButton">Add Food</button>
      </div>
  </div>
</div>


<script src="/js/dinnerFood.js"></script>