{{!-- <div class="row justify-space-between-md">
  <div class="login-card">
    <form class="form login-form" id="">
      <div id="newPostHeader">Login</div>
      <div class="form-group">
        <label for="user-login" id="">Username:</label>
        <input class="form-input" type="text" id="user-login" />
      </div>
      <div class="form-group">
        <label for="password-login" id="">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="" type="submit">login</button>
      </div>
      <div id="logSign">
        <a href="/signup">Sign up instead</a>
      </div>
      
    </form>
  </div> --}}
    <div class="wrapper">
        <div class="container">
            <div class="login-form">
                <div class="welcome">
                    <p>My Food Tracker</p>
                </div>
                <div class="login-container">
                    <section class="loginText">
                        <p>Please login to view your account.</p>
                    </section>
                    <section class="email">
                        <h5>Username</h5>
                        <input type="text" id="user-login" required>
                    </section>                        
                    <section class="password">
                        <h5>Password</h5>
                        <input type="password"  id="password-login" required>
                    </section>
                    <button id="button">Sign in</button>
                    <section >
                        <ul class="supportLinks">
                            <li>
                                <a href="/signup">Sign up instead</a>
                            </li>
                        </ul>
                    </section>                         
                </div>
                </div>
        </div>
    </div>

<script src="/js/login.js"></script>