<div class="row justify-space-between-md">
  <div class="lunch-card">
      <div class="form-group">
        <label for="lunch-food" id="">Name of Food:</label>
        <input class="form-input" type="text" id="lunch-foodName" />
      </div>
      <div class="form-group">
        <label for="lunch-cals" id="">Total Calories:</label>
        <input class="form-input" type="text" id="lunch-cals" />
      </div>
      <div class="form-group">
        <label for="lunch-carbs" id="">Carbs:</label>
        <input class="form-input" type="text" id="lunch-carbs" />
      </div>
      <div class="form-group">
        <label for="lunch-fats" id="">Fats:</label>
        <input class="form-input" type="text" id="lunch-fats" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="addLunchFoodBtn">Add Food</button>
      </div>
  </div>

<script src="/js/lunchFood.js"></script>