{{!-- <div class="login-card">
    <form class="form signup-form" id="">
        <div id="newPostHeader">Sign Up</div>
        <div class="form-group">
            <label for="username-signup" id="">Username:</label>
            <input class="form-input" type="text" id="username-signup" />
        </div>
        <div class="form-group">
            <label for="password-signup" id="">Password:</label>
            <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
            <label for="goal-signup" id="">Calorie Goal:</label>
            <input class="form-input" type="text" id="goal-signup" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" id="" type='submit'>signup</button>
        </div>
        <div id="logSign">
            <a href="/login">Login instead</a>
        </div>

    </form>
</div>
</div> --}}



<div class="wrapper">
    <div class="container">
        <div class="login-form">
            <div class="welcome">
                <p>My Food Tracker</p>
            </div>
            <div class="login-container">
                <section class="loginText">
                    <p>Please sign up.</p>
                </section>
                <section class="email">
                    <h5>Username</h5>
                    <input type="text" id="username-signup" required>
                </section>
                <section class="password">
                    <h5>Password</h5>
                    <input type="password" id="password-signup" required>
                </section>
                <section class="password">
                    <h5>Calorie Goal</h5>
                    <input type="text" id="goal-signup" required>
                </section>
                <button id="button">Sign up</button>
                <section>
                    <ul class="supportLinks">
                        <li>
                            <a href="/login">Login instead</a>
                        </li>
                    </ul>
                </section>
            </div>
        </div>
    </div>
</div>

<script src="/js/sign-up.js"></script>