<div class="login-card">
    <form class="form signup-form" id="">
        <div id="newPostHeader">Sign Up</div>
        <div class="form-group">
            <label for="username-signup" id="">Username:</label>
            <input class="form-input" type="text" id="username-signup" />
        </div>
        <div class="form-group">
            <label for="password-signup" id="">Password:</label>
            <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
            <label for="goal-signup" id="">Calorie Goal:</label>
            <input class="form-input" type="text" id="goal-signup" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary" id="" type='submit'>signup</button>
        </div>
        <div id="logSign">
            <a href="/login">Login instead</a>
        </div>

    </form>
</div>
</div>

<script src="/js/sign-up.js"></script>