<div class="row justify-space-between-md">
  <div class="snacks-card">
    <div><a href="/tracker">Back to tracker</a></div>
      <div class="form-group">
        <label for="snacks-food" id="">Name of Food:</label>
        <input class="form-input" type="text" id="snacks-foodName" />
      </div>
      <div class="form-group">
        <label for="snacks-cals" id="">Total Calories:</label>
        <input class="form-input" type="text" id="snacks-cals" />
      </div>
      <div class="form-group">
        <label for="snacks-carbs" id="">Carbs:</label>
        <input class="form-input" type="text" id="snacks-carbs" />
      </div>
      <div class="form-group">
        <label for="snacks-fats" id="">Fats:</label>
        <input class="form-input" type="text" id="snacks-fats" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="addSnacksFoodBtn">Add Food</button>
      </div>
  </div>

<script src="/js/snacksFood.js"></script>