<div class="row justify-space-between-md">
  <div class="snacks-card">
    <form class="form snacks-form" id="add-snacks-food">
      <div class="form-group">
        <label for="snacks-food" id="">Name of Food:</label>
        <input class="form-input" type="text" id="snacks-foodName" />
      </div>
      <div class="form-group">
        <label for="snacks-cals" id="">Total Calories:</label>
        <input class="form-input" type="text" id="snacks-cals" />
      </div>
      <div class="form-group">
        <label for="snacks-carbs" id="">Carbs:</label>
        <input class="form-input" type="text" id="snacks-carbs" />
      </div>
      <div class="form-group">
        <label for="snacks-fats" id="">Fats:</label>
        <input class="form-input" type="text" id="snacks-fats" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" id="addSnacksFoodBtn" type="submit">Add Food</button>
      </div>
    </form>
  </div>

<script src="/js/foods.js"></script>