* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#8B939A, #667e85);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login-form {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.welcome {
    color: white;
    font-size: 33px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.login-container {
    background-color: white;
    padding: 30px;
    width: 70%;
    height: 30vh;
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.loginText {
    text-align: center;
}

#button {
    height: 35px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(243 244 246);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    margin: 10px 0px;
}

#button:hover {
    background-color: rgb(226 232 240);
}

.supportLinks {
    display: flex;
    font-size: 13px;
    justify-content: space-evenly;
    list-style: none;
    cursor: pointer;
}


input {
    width: 100%;
    height: 25px;
    background-color: rgb(243 244 246);
    border: none;
    border-radius: 5px;
    outline: none;
    text-align: left;
}

@media only screen and (min-width: 800px) {
    .container {
        width: 40%;
    }

    
}